<template name="privateMessages">

  <div class="col-xs-12 main">
  
    <div class="col-xs-3 list">
      <h3>Inbox</h3>
      <ul>
        <li>
          <a href="#" class="sent">{{ sent }}</a> 
        </li>
        <li>
          <a href="#" class="received">{{ received }}</a>
        </li>
      </ul>
    </div>

    <div class="col-xs-9">
      <ul>
        {{#each messages}}
          <li>
            <a href="{{pathFor 'privateMessage'}}">{{ title }}</a>
          </li>
        {{/each}}
      </ul>
    </div>
    
  </div>

</template>